<!DOCTYPE html>
<html>
<head>
  
    <title>Site Title</title>

  	<meta charset=utf-8 />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="_inc/css/main.css" />
	
	<!-- libs -->
    <script type="text/javascript" src="_inc/lib/alight_0.14.last.min.js"></script>
    


</head>
<body>
	
    <div al-app="main">
	    
    	<input al-value="name" type="text" />
		{{name}} <br/>
		<button al-on.click="click()">Set Homo</button>
		
		<div class="input-append">
          <input type="text" al-value="search">
        </div>
        
        <p>{{filteredList.length}} items were found </p>
        
		<ul class="nav nav-pills nav-stacked">
			
          <li al-repeat="user in users | filter:search | storeTo filteredList">
            <a href="#"> {{user.name}} </a>
          </li> 
          
        </ul>
     
	</div>
	
</body>

<!-- javascript -->
<script type="text/javascript" src="_inc/js/app.js"></script>

</html>